<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <h1>Список всех студентов</h1>
    <p><a href="/create">Добавить студента</a></p>
    <p><a href="/group" >Добавить группу</a></p>
    <p><a href="/speciality" >Добавить специальность</a></p>
    <table>
        <tr style="color: rgba(159, 103, 232, 0.479);">
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Специальность</th>
            <th>Имя группы</th>
        </tr>
        {{#each student_name}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.second_name}}</td>
            <td>{{this.surname}}</td>
            <td>{{this.kod_speciality}}</td>
            <td>{{this.group_name}}</td>
        </tr>
        {{/each}}
    </table>
</body>
</html>